@media screen and (max-width:992px) {
    .hamburger {
        display: flex;
        margin-right: 30px;
    }
    .list li a{
        display: none;
    }
    .hobbies .descript_div div{
        font-size: 13px;
    }
    .about .horizontal-line{
        margin: 0 auto;
    }
}
@media screen and (max-width:786px){
    .hamburger{
        display: flex;
        font-size: 1.5rem;
        width: 25%;
        justify-content: flex-start;
        margin-left: 18px;
    }
    .nav{
        flex-direction: row-reverse;
    }
    .logo{
        font-size: 1.5rem;
        margin: auto 0;
        margin-right: 13px;
    }
    .second-section img{
        height: 243px;
        width: 243px;
    }
    .list{
        gap: 0px;
    }
    .project{
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        align-items: center;
    }
    .one-project{
        width: 81vh;
        height: 47vh;
    }
    .full_name, .contact h1, .pro-name{
        font-size: 1.7em;
    }
    .first-section{
        width: 71%;
    }
    .contact h3{
        font-size: 20px;
    }
    .first-section p, .contact p, .one-project p{
        font-size: 15px;
    }
    .descript_div div, footer {
        font-size: 10px;
    }
    .button{
        margin: 1rem 0;
    }
    .pro-name{
        margin-bottom: 3rem;
    }
}
@media screen and (max-width:375px) {
    .logo{
        font-size: 1.2rem;
    }
    .second-section img {
        height: 200px;
        width: 200px;
    }
    .first-section h1{
        font-size: 26px;
    }
    .one-project{
        width: 62vh;
        height: 32vh;
    }
    .contact h3{
        font-size: 17px;
    }
    .hobbies h3, .first-section p, .contact p{
        font-size: 12px;
    }
    .hobbies .descript_div div, footer {
        font-size: 8px;
    }
    .button {
        font-size: 15px;
    }
}
